/*   -------------------------- Card    */
   .card{
      background-color: rgba(0, 0, 0, 0.4);
      margin: 0;
      padding: 0;
      min-width: 150px;
      width: 150px;
      max-width: 300px;
      height: 300PX;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      scroll-snap-align: center;
   }

   .card #name div,
   .card #name h2:nth-child(1) {
      display: none;
   }

   .card #name {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
   }

   .card .contenido:first-child {
      margin-top: 10px;
   }

   h2:not(:nth-of-type(-n+1)) {
      margin-top: 0;
   }

   .card #name h2{
      margin: auto 10px;
   }

   #name:hover{
      cursor: pointer;
   }

   .card #name img{
      width: 85%;
      border-radius: 10px;
      margin-bottom: 10px;
   }

   .card button {
      box-shadow: none;
      position:sticky;
      width: 20%;
      height: 20%;
      margin: 0;
      padding: 0;
   }

   /*   -------------------------- Detalle    */

   .detalle {
      background-color: rgba(0, 0, 0, 0.6);
      margin: 0;
      padding: 0;
      min-width: 150px;
      width: 150px;
      height: 300PX;
      border-radius: 10px;
      display: flex;
      align-items: center;
   }

   .detalle #name {
      margin: 12px;
      padding: 0;
      width: 100%;
      height: 92%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      user-select: none;
   }/* 
   .detalle #name div h3 {
      margin-top: 5px;
   } */

   .detalle #name div h2 {
      font-size: 14px;
   }

   .detalle #nameCorto,
   .detalle img,
   .detalle button {
      display: none;
   }

   