
/*   -------------------------- Card    */
   .card{
      background-color: rgba(0, 0, 0, 0.8);
      margin: 0;
      padding: 0;
      min-width: 180px;
      width: 180px;
      max-width: 360px;
      height: 360PX;
      border-radius: 12px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      scroll-snap-align: center;
   }

   .card #name div,
   .card #name h2:nth-child(1) {
      display: none;
   }

   .card #name {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
   }

   .card .contenido:first-child {
      margin-top: 25px;
   }

   h2:not(:nth-of-type(-n+1)) {
      margin-top: 0;
   }

   .card #name h2{
      margin: 10px;
   }

   #name:hover{
      cursor: pointer;
   }

   .card #name img{
      width: 85%;
      border-radius: 12px;
      margin-bottom: 15px;
   }

   .card #bttns {
      display: flex;
      width: 100%;
      height: 20%;
   }

   .card .izq {
      font-size: 25px;
      margin: 0;
      padding: 0;
      width: 50%;
      height: 100%;
      border-bottom-left-radius: 12px;
   }

   .card .der {
      font-size: 27px;
      margin: 0;
      padding: 0;
      width: 50%;
      height: 100%;
      border-bottom-right-radius: 12px;
   }

   /*   -------------------------- Detalle    */

   .detalle {
      background-color: rgba(0, 0, 0, 0.8);
      margin: 0;
      padding: 0;
      min-width: 610px;
      width: 610px;
      height: 360PX;
      border-radius: 12px;
      display: flex;
      align-items: center;
   }

   .detalle #name {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      
   user-select: none;
   }

   .detalle #name .contenido {
     width: 35%;
     margin: 5px;
     padding: 0;
   }

   .detalle #name div h2{
      font-size: 14px;
   }

   .detalle #nameCorto {
      display: none;
   }

   .detalle img {
      border-radius: 12px;
      height: 100%;
      margin: 15px;
      margin-left: 0;
      justify-self: center;
      align-self: center;
      scroll-snap-align: start;
   }

   .detalle #bttns {
      width: 11%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
   }

   .detalle .izq {
      font-size: 25px;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 50%;
      border-top-right-radius: 12px;
   }

   .detalle .der {
      font-size: 26px;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 50%;
      border-bottom-right-radius: 12px;
   }
   