@media screen and (min-width: 1033px) {

  #Nav {
    width: 100%;
    height: 65px;
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
  }

  #logo button {
    background-image: url("../../img/hola3.png");
    background-size: cover;
    width: 120px;
    height: 100%;
  }


  #Nav a:nth-child(2) button {
    box-shadow: inset 0 0 10px rgb(0, 255, 115);
    text-shadow: 0 0 20px rgb(0, 255, 115);
  }


  .oculto {
    display: none;
  }

}

/* <------------!------------> */
@media screen and (max-width: 1033px) {

  .Nav {
    width: 100%;
    height: 65px;
    top:0;
    position: fixed;
    display:flex;
    background-color: rgba(0, 0, 0, 0.8);
  }

  #Nav1 {
    width: 100%;
    height: 65px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #Nav1 Link {
    width: 100%;
    height: 100%;
  }

  #logo button {
    background-image: url("../../img/hola3.png");
    background-size: cover;
    width: 120px;
    height: 65px;
  }
  #logo {
    display:flex;
    padding: 0;
    margin: 0;
  }

  #Nav2{
    background-color: rgba(0, 0, 0, 0.4);
    height: 30px;
    margin-top: 65px;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
  }

  #Nav2 select{
    margin: 5px 5px 5px 5px;
    border-radius: 4px;
  }

  .botNav, .botFav, #botNav, #Nav2 button{
    display: none;
    position:fixed;
    margin: 0;
    padding: 0;
  }

  #search{
    display:flex;
    padding: 0 5px;
    align-items: center;
  }

  .oculto {
    display: flex;
    justify-content: center;
    padding: 24px;
    width: 65px;
  }

  #Nav2 .oculto {
    display: flex;
    position:inherit;
    padding: 6px 15px;
    width: 20px;
  }

}