/* 0 lines (10 sloc)  172 Bytes
 
 */
.page{
    width: auto;
    height: 60px;
    align-self: center;
    position: absolute;
    top: 85%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.page p,
.page button,
.page h3{
    margin: 4px;
    padding: 4px;
    color: black;
    display: flex;
    font-size: 20px;
}