@media screen and (min-width: 1033px) {

   #search {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
   }

   #inpSearch {
      width: 100%;
      margin: 0;
      padding: 0;
   }

   #search div:last-child {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
      width: 100%;
   }

}
@media screen and (max-width: 1033px) {

   #inpSearch {
      margin: 0 5px;
   }

}