@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

@media screen and (min-width: 1033px) {

   .App {
      display: flex;
      justify-content: center;
      color:#ffffff;
      text-align: center;
      margin: 0;
      padding: 0;
      min-height: 100vh;
      background-image: url("../img/1366_2005.jpg");
      background-size: cover;
      background-position: center center;
      font-family: 'Kalam', cursive;
   }

   * {
      scroll-behavior: smooth;
      transition: all .4s;
   }

   button {
      border: none;
      outline: none;
      background: none;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: bold;
      padding: 20px;
      padding-top: 22px;
      overflow: hidden;
      cursor: pointer;
      letter-spacing: 1px;
      position:relative;
      font-family: 'Kalam', cursive;
   }

   #Nav2 button::after,
   #Nav button::after,
   .carrusel .irIzq::after,
   .carrusel .irDer::after {
      content: "";
      position:absolute;
      left: 0;
      bottom: 0;
      width: 400px;
      height: 400px;
      background: rgba(255, 255, 255, 0.1);
      z-index: 1;
      transform-origin: bottom left;
      transform: skew(90deg) translateX(-92%);
      transition: all .5s ease-in-out;
   }

   #Nav2 button:hover::after, 
   #Nav button:hover::after,
   .carrusel .irIzq:hover::after,
   .carrusel .irDer:hover::after {
      transform: skew(40deg) translate(.5%)
   }
   
   #Nav2 button:active,
   #Nav button:active,
   .carrusel .irIzq:active,
   .carrusel .irDer:active {
      background-color: #8d19a7;
   }
   
   select {
      height: 30px;
      border-radius: 6px;
   }

   input {
      width: 100px;
      height: 30px;
      border: none;
      border-radius: 4px;
      margin: 15px 0 15px 15px;
   }

   input::placeholder {
      opacity: 0.3;
      padding-left: 5px;
   }

   a {
      text-decoration:none;
   }

   h2 {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      color:white;
   }

   h3 {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      color: rgba(158, 158, 158, 0.8);
   }

   p {
      margin: 0;
      padding: 0;
   }

   span {
      font-size: 24px;
   }
}











/* <------------!------------> */
@media screen and (max-width: 1033px) {

   .App {
      background-attachment: fixed;
      background-image: url("../img/1366_2000.jpeg");
      background-size: cover;
      background-position: center center;
      color:#ffffff;
      text-align: center;
      margin: 0;
      padding-top: 15px;
      min-height: 100vh;
   }

   button {
      background: none;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: bold;
      border:none;
   }
   
   button:hover {
      background-color: rgba(255, 255, 255, 0.1);
   }
   
   button:active {
      background-color: #52a719;
   }
   
   input {
      width: 100px;
      height: 30px;
      border-radius: 6px;
      margin: 15px 0 15px 15px;
   }

   input::placeholder {
      opacity: 0.3;
      padding-left: 5px;
   }

   a {
      text-decoration:none;
   }

   h2 {
      display: flex;
      height: 35px;
      padding: 0 20px;
      color:white;align-items: center;
      justify-content: center;
   }

}